html
    head
        title Awatch
        link(href="../public/styles/style.css", rel='stylesheet')
        link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    body
        #content
        script(type='text/javascript', src='public/bundle.js')